<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>CUTE or the BOOT?</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />

	</head>

	<body>

		<header>
			<header>
			<a href="/index.html"><img src="../img/CuteBoot_top_banner.png" alt="Cute or the Boot logo" /></a>
			<h1>Vote for your favourite Australian animal!</h1>
		</header>

		{{{body}}}
		
		<audio id="myplayer" controls autoplay>
		<source src="../audio/Advance_Aus_Fair.ogg" type="audio/ogg">
		<source src="../audio/Advance_Aus_Fair.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>"

		<footer>
            <a class="tz" href="http://www.ala.org.au/">Featuring data from The Atlas of Living Australia</a>
		
	</body>
</html>